unstructured
tiktoken
pinecone-client
pypdf
langchain
langchain-openai
python-dotenv
ipykernel
ipywidgets  # Avoids warning messages related to the tqdm library (provides progress bars). The specific issue ipywidgets, a dependency of tqdm